body {
    margin: 0; /* ページのデフォルトのマージンをゼロに設定 */
    background-color: #DCDCDC; /* body 要素の背景色を設定 */
}
.page_title {
    background-color: aqua;
    margin-top: 0px;
    padding: 0px;
}
.page_titletxt {
    margin-top: 0px;
    margin-bottom: 5vh;
    text-align: center;
    font-size: 10vw;
    font-weight: bold;
}
.side_menu {
    background-color: #a6a6a6;
    position: fixed;
    top: 0;
    right: -250px;
    height: 100vh;
    width: 250px;
    transition: right 0.3s ease;
}
.mainandmenu{
    display: flex;
}
.main{
    flex: 8;
    top: 0;
    padding: 5px;
    margin-left: 1vw;
    background-color: #FFFFFF;
}
.menu{
    text-align: center;
    /*position: fixed;*/
    flex: 2;
    /*width: 17%;*/
    margin-left: 1vw;
    margin-right: 0vw;
    background-color: #FFFFFF;
}
.menu a{
    padding: 5px;
    text-decoration: none;
    color: #000;
    background-color: #FFFFFF;
}
.menu a:hover{
    background-color: #e9e9e9;
    border-radius: 4px;
}
.txt_mid{
    text-align: center;
}
.topimg{
    position: relative;
}
.topimgtxt{
    position: absolute;
    top: 5px;
    left: 10px;
    color: #FFFFFF;
    font-weight: bold;
    text-shadow: 0px 0px 10px #000;
}
.home_link_flexbox{
    display: flex;
    flex-flow: row wrap;
}
.home_link_son{
    width: 100px;
    margin: 10px;
    padding: 10px;
    text-align: center;
    background-color: #d4d4d4b2;
    color: #000;
    text-decoration: none;

}
.home_link_son:hover{
    transition-duration: 0.7s;
    background-color: #b9b9b9b2;
}
.bottom-text {
    position: fixed;
    bottom: 0;
    left: 50%; /* センタリングするために左側のマージンを50%に設定 */
    transform: translateX(-50%); /* センタリングのためにマイナスの50%移動 */
    color: black; /* テキストの色を白に設定 */
    font-size: 10px;
}
.toggle-button{
    position: fixed;
    top: 20px;
    left: 20px;
    cursor: pointer;
    z-index: 2;
    font-size: 24px;
    text-shadow: 0px 0px 5px black;
}
.main img{
    max-width: 100%;
    height: auto;
    display: block;
}
.title_img{
	width: 100%;
    height: auto;
    display: block;
}
.notice{
    border: 2px solid #AAA;
    padding: 10px;
    margin-bottom: 20px;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 0px;
}
.notice_top_titile{
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 0px;
    background-color: #AAA; /* 背景色を指定 */
    padding: 3px; /* 文字とボーダーの余白を追加（任意の値） */
    border-top-left-radius: 10px; /* 上部左側の角を丸くする半径を指定 */
    border-top-right-radius: 10px; /* 上部右側の角を丸くする半径を指定 */
    display: inline-block; /* インラインブロック要素に設定 */
    max-width: 300px; /* 最大幅を指定（任意の値） */
}
#notice{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    background-color: #FFFFFF;
    border: 2px solid #AAA;
    border-radius: 3px;
}
.notice_close{
    position: absolute;
    right: 0px;
    top: 0px;
}
.top_menus{
    display: flex;
    height: 40px;
}
.top_menu{
    flex: 1;
    padding: 5px;
    background-color: #DCDCDC;
    text-decoration: none;
    color: #000;
    transition: background-color 0.2s ease;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    margin-right: 5px;
    margin-bottom: 5px;

}
.top_menu a{
    text-align: center;
}
.top_menu:last-child{
    margin-right: 0;
}
.top_menu:hover{
    background-color: #AAA;
    
}
.side_menu_txt_style{
    display: block;
    background-color: #FFFFFF;
    border-radius: 3px;
    margin: 10px;
    padding: 5px;
    color: #000;
    text-decoration: none;
    text-align: center;
}
.side_menu_txt_style:hover{
    background-color: #DCDCDC;
}
.modflexbox{
    display: flex;
}
.modflexboxson{
    margin: 10px;
    background-color: #ffffff;
    border-radius: 5px;
    border: 0.15rem solid #ebebeb;
    width: 200px;
    text-align: center;
}
.modflexboxson:hover{
    background-color: #ebebeb;
}
.modflexboxson img{
    border-radius: 5px;
}